:root {
    --back-cir:#898888;
}
body, main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.slide {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    position: relative;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 200px + 3em);
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    width: 100%;
    height: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1-1:checked ~ .control-1-1,
#slide-2-1:checked ~ .control-2-1,
#slide-3-1:checked ~ .control-3-1 {
    display: block;
}


.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1-1:checked ~ .control-1-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2-1:checked ~ .control-2-1 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3-1:checked ~ .control-3-1 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}


@media (max-width: 450px) {
    
    .slide {
        display: none;
    }
}

.enlaces {
    display: flex;
    flex-direction: row;
}
.container_peliculas,
.container_actores {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 10px;
}

.container_title {
    align-items: center;
    background-color: var(--back-cir);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    text-align: center;
    width: 150px;
}

.container {
    width: 90%;
    margin: 0 0 0 5%;
}
a {
    text-decoration: none;
}
.panel_title {
    display: flex;
    justify-content: space-between;
}
.panel_title h2 {
    margin-top: 1rem;
}
.td_aciones button {
    margin:2px;
}



.p-3 a{
    margin: 10px;
}

.panel_info .mb-3 {
    margin: 5px;
    width: 30%;
}
.panel_info, .panel_actor {
    display: flex;
    justify-content: space-around;

}
.panel_botton {
    align-items: center;
    display: flex;
    justify-content: center;
}
.panel_botton button, a {
    margin: 5px;
}
.section_search {
    display: flex;
    flex-direction: column;
}
.div_search {
    display: flex;
}
.div_search input {
    margin: 5px;
}

.div_contenido {
    margin-top: 5px;
}   

